/*-------------------------------------------global style--------------------------------------------------*/
body{
	
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;

}
h3{
	color: white;
}
input{
	color: black;
}
/*form{
	color: white;
}*/
.jumbotron{
	text-align: center;
	color: white;
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;
	/*border: solid 2px;
	border-radius: 5px;
	border-color: black;
	text-align: center;*/
}
/*--------------------------------------------login style------------------------------------------------*/
#signIn{
	text-align: center;
}
#login{
	color: black;
}
/*---------------------------------------------menu css-----------------------------------------------------*/
#menue{
	margin: 0;S
}

#menueContainer{
	border: solid 2px;
	border-radius: 5px;
	border-color: white;
	padding: 2%;
	margin-top: 100px;
}

#button1{
	margin: 30px;
	text-align: center;
}
#button2{
	margin: 30px;
	text-align: center;
}
#button3{
	margin: 30px;
	text-align: center;
}
#button4{
	margin: 30px;
	text-align: center;
}
#button5{
	margin: 30px;
	text-align: center;
}

a{
	color: white;
}

#dragster{
	width: 200px;
}
#caluclate{
	width: 200px;
}
#assembly{
	width: 200px;
}
/*--------------------------------------------drag style----------------------------------------------------*/
#drag{
	color: white;
	margin: 0;
	padding-bottom: 0px;
	padding-top: 0px;
}
#here{/*this is the text*/
 	text-align: center;
	position: relative;
	top: 400px;
	left: 0;
	width: 100%;
}

#mile14{
	position: relative;
	color: white;
	text-align: center;
	margin-right: 30px; 
	margin-left: 60px;
}
#mile18{
	position: relative;
	color: white;
	text-align: center;
	margin-left: 30px;
}

#horsePower{
	position: relative;
	color: white;
	text-align: center;
	margin-right: 30px; 
	margin-left: 60px;
}
#morePower{
	position: relative;
	color: white;
	text-align: center;
	margin-left: 30px;
}
#ET1-4{
	position: relative;
	color: white;
	text-align: center;
	margin-right: 30px; 
	margin-left: 60px;
}
#MPH1-4{
	position: relative;
	color: white;
	text-align: center;
	margin-left: 30px;
}
#answer{
	color: white;
	margin-top: 20px;
	margin-bottom: 0px;S
	text-align: center;
}
#bottom{
	margin-top: 0;
	color: white;
	text-align: center;
}
#theForm{
	position: relative;
}
#otherForm{
	position: relative;
}
#thirdForm{
	position: relative;
}
#forthForm{
	position: relative;
}
#fifthForm{
	position: relative;
}
#sixthForm{
	position: relative;
}
/*-------------------------------------BuildSheets------------------------------------------*/

#buildHead{
	color: white;
}
/*-------------------------------------calculation style------------------------------------*/
#firstForm{
	color: white;
}
#secondForm{
	color: white;
}
#thirdForm{
	color: white;
}
#answer{
	margin-bottom: 60px;
}
#MTC{
	text-align: center;
	color: white;
}